*{
    padding: 0;
    margin: 0;
}
@keyframes imageslider{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -33.33%;
    }
    30%{
        left: -33.33%;
    }
    40%{
        left: -66.66%;
    }
    50%{
        left: -66.66%;
    }
    60%{
        left: -99.99%;
    }
    70%{
        left: -99.99%;
    }
}

.slider{
    width: 250%;
    animation: imageslider 10s infinite;
    position: relative;
}

nav{
    background-color: #242333;
    height: 80px;
    /* display: flex; */
}

.sidebar{
    display: flex;
    justify-content: space-around;
    text-align:justify;
    color: aliceblue;
    margin: 10px;
    
}

nav .logo img{
    width: 100px;
    margin-left: 100px;
    position: absolute;
}

.logo{
    width: 400px;
}

nav form input[type=text]{
    margin-top: 20px;
    position: relative;
    margin-left: 400px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    /* box-shadow: 5px 5px 5px rgb(106, 153, 223); */
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
    padding-left: 10px;
}

.container{
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border: 10px solid #9e7317;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container img{
    width: 400px;
    height: 650px;
    float: left;
    border-radius: 50px;
}
.container .slider img:nth-child(2){
    margin-left: 20px;
}
.container .slider img:nth-child(3){
    margin-left: 20px;
}
.container .slider img:nth-child(4){
    margin-left: 20px;
}
.container .slider img:nth-child(5){
    margin-left: 20px;
    margin-right: 20px;
}
.heading-container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.heading-container h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
}
.heading-container h1 span:first-child{
    color: hsl(209, 100%, 38%);
}
.heading-container h1 span:nth-child(2){
    color: hsl(209, 100%, 38%);
}
#offer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    /* background-color: aqua; */
    margin-bottom: 10px;
    background-color: #ffbe33;
}
#offer .offer-image{
    width: 200px;
}
.plus{
    font-size: 50px;
    font-weight: 1500px;
}
.equal{
    font-size: 50px;
    font-weight: 1500;
}
.rupee{
    font-size: 100px;
    font-weight: 900;
}
.offer-heading-container{
    width: 80%;
    margin: 100px auto auto auto;
    font-size: 100px;
    font-weight: 600;
    /* text-decoration: underline; */
}

.offer-heading-container span, .rupee span{
    color: hsl(209, 100%, 38%);
}

footer{
    background-color: gray;
    height: 150px;
    bottom: 0;
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}
footer div:nth-child(2){
    margin-top: 20px;
}

.delhi-heading{
    font-size: 50px;
    width: 90%;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.delhi-heading span{
    color: hsl(209, 100%, 38%);
}

#book-btn{
    background-color: rgb(136, 221, 0);
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    /* background-color: white; */
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 20px;
}

#book-btn:hover{
    background-color: rgb(0, 128, 6);
    color: white;
}
